:root {
  --un-prose-links: var(--amv-links);
}

.prose {
  max-width: none;
}

.prose {
  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    --uno: font-mono;
  }
}

.prose :where(p, ul, ol, pre):not(:where(.not-prose, .not-prose *)) {
  line-height: 2rem;
}

.prose :where(code):not(:where(.not-prose, .not-prose *)) {
  font-weight: 500;
}

.prose a {
  text-decoration: underline dotted;
}

.prose a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.prose :where(h1 a, h2 a, h3 a, h4 a) {
  border-bottom: none !important;
  text-decoration: none !important;
  color: inherit;
  font-weight: inherit;
}

.prose strong,
.prose b {
  font-weight: 600;
}

.prose pre[class*='language-'],
.prose pre.shiki {
  --uno: line-height-snug px-0 py-1 mb0;
}

.prose pre.shiki,
.prose pre.shiki code,
.prose pre[class*='language-'] code {
  --uno: font-code;
}

.prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *)) {
  padding: 0.1em 0.4em 0.15em 0.4em;
  --uno: bg-inline-code border rounded border-inline-code text-faded;
}

.prose :where(a > code):not(:where(.not-prose, .not-prose *)) {
  --uno: border-dashed important-text-primary;
}

.prose :where(a > code):hover:not(:where(.not-prose, .not-prose *)) {
  --uno: important-border-primary/50;
}

.prose :where(a:has(> code)):not(:where(.not-prose, .not-prose *)) {
  text-decoration: none !important;
}

.prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *))::before,
.prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *))::after {
  content: '';
}

.dark .prose :where(a > code):not(:where(.not-prose, .not-prose *)) {
  --uno: border-dashed important-text-primary-dark-200;
}

.dark .prose :where(a > code):hover:not(:where(.not-prose, .not-prose *)) {
  --uno: important-border-primary-dark-200/50;
}

.prose blockquote {
  margin: 0.5em 0;
  padding-left: 2em;
  padding-block: 0.5em;
  border-left: 2px solid var(--amv-highlight);
  --uno: 'bg-bgr-50 dark:bg-bgr-dark/80 dark:text-bgr-300';
}

.prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *)) {
  --uno: 'bg-bgr-50 border-bgr-100 rounded  text-primary-700';
}

.dark .prose :where(:not(pre) > code):not(:where(.not-prose, .not-prose *)) {
  --uno: 'bg-bgr-900 border-dark rounded  text-primary-dark-300';
}
